{{#ui-panel as |panel|}}
  {{#panel.content}}
    {{form-name}}
    {{form-email}}
    {{form-phone}}
    {{form-date-of-birth}}
    {{form-income}}
    {{form-address}}
    {{form-ssn}}
  {{/panel.content}}
{{/ui-panel}}

{{#ui-panel as |panel|}}
  {{#panel.titlebar}}
    Buttons
  {{/panel.titlebar}}

  {{#panel.content}}
    <h2>Sizes</h2>

    {{#ui-button size="x-small"}}
      X-Small
    {{/ui-button}}

    {{#ui-button kind="primary" size="x-small"}}
      X-Small
    {{/ui-button}}

    {{#ui-button kind="simple" size="x-small"}}
      X-Small
    {{/ui-button}}

    {{#ui-button size="small"}}
      Small
    {{/ui-button}}

    {{#ui-button kind="primary" size="small"}}
      Small
    {{/ui-button}}

    {{#ui-button kind="simple" size="small"}}
      Small
    {{/ui-button}}

    {{#ui-button}}
      Medium
    {{/ui-button}}

    {{#ui-button kind="primary"}}
      Medium
    {{/ui-button}}

    {{#ui-button kind="simple"}}
      Medium
    {{/ui-button}}

    {{#ui-button size="large"}}
      Large
    {{/ui-button}}

    {{#ui-button kind="primary" size="large"}}
      Large
    {{/ui-button}}

    {{#ui-button kind="simple" size="large"}}
      Large
    {{/ui-button}}

    {{#ui-button size="x-large"}}
      X-Large
    {{/ui-button}}

    {{#ui-button kind="primary" size="x-large"}}
      X-Large
    {{/ui-button}}

    {{#ui-button kind="simple" size="x-large"}}
      X-Large
    {{/ui-button}}

    <h2>Disabled</h2>

    {{#ui-button disabled=true}}
      hello world
    {{/ui-button}}

    {{#ui-button kind="primary" disabled=true}}
      hello world
    {{/ui-button}}

    <h2>Loading</h2>

    {{#ui-button loading=true}}
      hello world
    {{/ui-button}}
  {{/panel.content}}
{{/ui-panel}}
